h1{
    text-align: center;
    color: blue;
    text-decoration: wavy;

}
body{
    background-image: url(swinginn.png);
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}